* {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.full-screen {
  min-height: 100vh;
  width: 100%;
}

.centerit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test {
  border: 1px solid red;
}

.small {
  font-size: 12px;
}
