<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Challenge CH-3</title>
</head>
<body>
    <header class="radial-img bg-img full-screen">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark fade-1">
            <div class="container-fluid opensans-font">
                <a class="navbar-brand px-lg-5 mx-lg-5 px-2 fs-m fw-xl" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-s" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-lg-5">
                        <li class="nav-item px-lg-3 text-center">
                            <a href="#" class="nav-link active" aria-current="page">HOME</a>
                        </li>
                        <li class="nav-item px-lg-3 text-center">
                            <a href="#" class="nav-link">WORK</a>
                        </li>
                        <li class="nav-item px-lg-3 text-center">
                            <a href="#" class="nav-link">CONTACT</a>
                        </li>
                        <li class="nav-item px-lg-3 text-center">
                            <a href="#" class="nav-link">ABOUT ME</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item text-center">
                            <a href="#" class="nav-link">SIGN UP</a>
                        </li>
                        <li class="nav-item text-center">
                            <a href="#" class="nav-link">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column justify-content-center padding-top-h arial-font">
            <div class="d-flex justify-content-center p-3 bd-highlight">
                <h1 class="fs-xl fw-xl text-white text-center">PLAY TRADITIONAL GAME</h1>
            </div>
            <div class="d-flex justify-content-center p-3 bd-highlight">
                <p class="fs-m fw-m text-white">Experience new traditional game play</p>
            </div>
            <div class="d-flex justify-content-center p-3 bd-highlight">
                <a href="/games">
                    <button type="button" class="btn btn-warning btn-1 opensans-font fs-sm fw-xl">
                        PLAY NOW
                    </button>
                </a>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-content-end padding-top-h">
            <div class="d-flex justify-content-center">
                <p class="fs-s text-white">THE STORY</p>
            </div>
            <div class="d-flex justify-content-center">
                <img src="images/scroll-down.png" alt="scroll down">
            </div>
        </div>
    </header>
    <main>
        <div class="game-choice-img">
            <div class="container-fluid padding-top text-white">
                <div class="row">
                    <div class="col-lg-4 arial-font padding-left text-center mb-sm-5">
                        <p class="fs-m fw-m">What's so special?</p>
                        <h1 class="fs-mxl fw-m">THE GAMES</h1>
                    </div>
                    <div class="col-lg-8 row">
                        <!-- <div class="col-1 padding-mx text-center">
                            <img src="public/images/switch-left.png" alt="switch left">
                        </div>
                        <div class="col-10 text-center">
                            <img class="img-width-s" src="public/images/rockpaperstrategy-1600-1.png" alt="gunting batu kertas">
                        </div>
                        <div class="col-1 padding-mx text-center">
                            <img src="public/images/switch-right.png" alt="switch left">
                        </div> -->
                        <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="images/rockpaperstrategy-1600-1.png" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/rockpaperstrategy-1600-1.png" class="d-block w-100" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/rockpaperstrategy-1600-1.png" class="d-block w-100" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-feature">
            <div class="container-lg ml-5">
                <div class="row">
                    <div class="col-lg-7 col-sm-5">
                        <!-- Kosong -->
                    </div>
                    <div class="col-lg-5 col-sm-7 padding-top">
                        <div class="text-white arial-font">
                            <p class="fs-m fw-m">What's so special?</p>
                            <h1 class="fs-mxl fw-m">FEATURES</h1>
                        </div>
                        <div class="row mt-5">
                            <div class="col-1">
                                <img class="" src="images/circle-1.png" alt="circle">
                                <img class="pl-1-5" src="images/progress-bar.png" alt="progress bar">
                                <img class="mb-5" src="images/circle-2.png" alt="circle">
                                <img class="mt-3" src="images/circle-2.png" alt="circle">
                            </div>
                            <div class="col-lg-7 col-10">
                                <div class="row">
                                    <h3 class="arial-font text-warning">TRADITIONAL GAMES</h3>
                                    <p class="opensans-font text-white mb-4 mb-lg-3">
                                        if you miss your childhood, we provide many traditional games here
                                    </p>
                                    <h3 class="arial-font text-warning mt-5">GAME SUIT</h3>
                                    <h3 class="arial-font text-warning mt-5">TBD</h3>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-req full-screen">
            <div class="d-flex justify-content-center text-white arial-font">
                <p class="fs-sxm mt-5 pt-5 lt-space-2">Can my computer Run this game?</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="py-lg-2 text-white center-576 center-768 pt-768 pb-768">
                            <h1 class="fs-mxl arial-font">SYSTEM REQUIREMENTS</h1>
                        </div>
                        <div class="m-sm-0 m-3">
                            <div class="row">
                                <div class="py-3 col-6 border-white">
                                    <h3 class="fs-m text-warning">OS:</h3>
                                    <p class="fs-sml text-white">Windows 7 64-bit only (No OSX support at this time)</p>
                                </div>
                                <div class="py-3 col-6 border-white">
                                    <h3 class="fs-m text-warning">PROCESSOR:</h3>
                                    <p class="fs-sml text-white">
                                        Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="py-3 col-6 border-white">
                                    <h3 class="fs-m text-warning">MEMORY:</h3>
                                    <p class="fs-sml text-white">4 GB RAM</p>
                                </div>
                                <div class="py-3 col-6 border-white">
                                    <h3 class="fs-m text-warning">STORAGE</h3>
                                    <p class="fs-sml text-white">8 GB available space</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="py-3 col border-white">
                                    <h3 class="fs-m text-warning">GRAPHICS</h3>
                                    <p class="fs-sml text-white">
                                        NVIDIA GeForce GTX 660 2GB or 
                                        AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)  
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Kosong -->
                    </div>
                </div>
            </div>
        </div>
        <div class="game-score full-screen">
            <div class="container">
                <div class="row">
                    <div class="col-lg d-flex flex-column justify-content-center mt-lg-0 my-sm-1 mt-5 pt-5 margin-top-75">
                        <div class="text-white fs-xml lt-space-2">
                            <h1>TOP SCORES</h1>
                        </div>
                        <div class="text-white w-lg-50 my-4">
                            <p>This top score from various games provided <br> on this platform</p>
                        </div>
                        <div class="arial-font fs-sm fw-xl d-grid gap-2 col-lg-4 col-6">
                            <button type="button" class="btn btn-warning btn-lg">see more</button>
                        </div>
                    </div>
                    <div class="col-lg container d-flex flex-column justify-content-center text-white mt-5 pt-5 mb-5 margin-top-75">
                        <div class="row py-0 my-lg-0 my-sm-3">
                            <div class="col-sm-3 col-1">
                                <!-- Kosong -->
                            </div>
                            <div class="col-sm-9 col-11 d-flex">
                                <div class="w-100 bd-highlight d-flex flex-column bg-black rounded-start">
                                    <div class="p-2 d-flex">
                                        <div class="flex-shrink-0 bd-highlight">
                                            <!-- <img class="rounded-circle" src="public/images/Ellipse.png" alt=""> -->
                                            <img class="rounded-circle" src="images/foto-1-75.jpg" alt="">
                                        </div>
                                        <div class="w-100 bd-highlight d-flex flex-column m-0 px-3">
                                            <p class="m-0 fs-sml text-warning">Evan Lahti</p>
                                            <p class="text-secondary m-0 fs-sxm">PC Gamer</p>
                                        </div>
                                    </div>
                                    <div class="p-2 bd-highlight d-flex">
                                        <div class="w-100 p-0 m-0">
                                            <p class="">“One of my gaming highlights of the year.”</p>
                                            <p class="p-0 m-0 text-secondary">June 18, 2021</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 bd-highlight bg-black rounded-end px-2 py-2">
                                    <img src="images/twitter.svg" alt="twitter">
                                </div>
                            </div>
                        </div>
                        <div class="row py-2 my-lg-0 my-sm-3">
                            <div class="col-sm-9 col-11 d-flex">
                                <div class="w-100 bd-highlight d-flex flex-column bg-black rounded-start">
                                    <div class="p-2 d-flex">
                                        <div class="flex-shrink-0 bd-highlight">
                                            <!-- <img class="rounded-circle" src="public/images/Ellipse.png" alt=""> -->
                                            <img class="rounded-circle" src="images/foto-2-75.jpg" alt="">
                                        </div>
                                        <div class="w-100 bd-highlight d-flex flex-column">
                                            <div class="w-100 bd-highlight d-flex flex-column m-0 px-3">
                                                <p class="m-0 fs-sml text-warning">Jada Griffin</p>
                                                <p class="text-secondary m-0 fs-sxm">Nerdreactor</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-2 bd-highlight d-flex">
                                        <div class="w-100 p-0 m-0">
                                            <p class="">“One of my gaming highlights of the year.”</p>
                                            <p class="p-0 m-0 text-secondary">June 18, 2021</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 bd-highlight bg-black rounded-end px-2 py-2">
                                    <img src="images/twitter.svg" alt="twitter">
                                </div>
                            </div>
                            <div class="col-sm-3 col-1 ">
                                <!-- Kosong -->
                            </div>
                        </div>
                        <div class="row mt-2 py-2 my-lg-0 my-sm-3">
                            <div class="col-sm-3 col-1">
                                <!-- Kosong -->
                            </div>
                            <div class="col-sm-9 col-11 d-flex">
                                <div class="w-100 bd-highlight d-flex flex-column bg-black rounded-start">
                                    <div class="p-2 d-flex">
                                        <div class="flex-shrink-0 bd-highlight">
                                            <!-- <img class="rounded-circle" src="public/images/Ellipse.png" alt=""> -->
                                            <img class="rounded-circle" src="images/foto-3-75.jpg" alt="">
                                        </div>
                                        <div class="w-100 bd-highlight d-flex flex-column m-0 px-3">
                                            <p class="m-0 fs-sml text-warning">Aaron Williams</p>
                                            <p class="text-secondary m-0 fs-sxm">Uproxx</p>
                                        </div>
                                    </div>
                                    <div class="p-2 bd-highlight d-flex">
                                        <div class="w-100 p-0 m-0">
                                            <p class="">“One of my gaming highlights of the year.”</p>
                                            <p class="p-0 m-0 text-secondary">June 18, 2021</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 bd-highlight bg-black rounded-end px-2 py-2">
                                    <img src="images/twitter.svg" alt="twitter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="game-footer full-screen">
        <div class="container">
            <div class="row py-5">
                <div class="col-sm-5 col-12 ">
                    <div class="d-flex justify-content-end">
                        <img class="img-fluid" src="images/skull.png" alt="Skull">
                    </div>
                </div>
                <div class="col-sm-7 col-12">
                    <div class="d-flex flex-column bd-highlight mt-5 mb-3">
                        <div class="p-2 fs-m fw-m text-white arial-font">
                            <p>Want to stay in <br> touch?</p>
                        </div>
                        <div class="p-2 text-white arial-font">
                            <h1>NEWSLETTER <br> SUBSCRIBE </h1>
                        </div>
                        <div class="pt-2 pb-5 text-white opensans-font fs-sml fw-m">
                            <p>
                                In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
                            </p>
                        </div>
                        <div class="p-2 row">
                            <div class="col-8">
                                <form class="form-floating"> 
                                    <input type="email" class="form-control text-warning bg-dark " id="floatingInputValue" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                                    <label for="floatingInputValue" class="
                                    text-white mb-4">Your email address</label>
                                </form>
                            </div>
                            <div class=" d-grid gap-2 col-lg-4 col-4">
                                <button type="button" class="btn btn-warning btn-lg fs-s-rem"><strong></strong>Subscribe Now</strong></button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row text-center text-sm-end opensans-font fs-s fw-xl text-white"> 
                <div class="col-lg-1 col-sm-2"></div>
                <div class="col-lg-1 col-sm-2">
                    <p>MAIN</p>
                </div>
                <div class="col-lg-1 col-sm-2 ">
                    <p>ABOUT</p>
                </div>
                <div class="col-lg-2 col-sm-2 ">
                    <p>GAME FEATURES</p>
                </div>
                <div class="col-lg-2 col-sm-2 ">
                    <p>SYSTEM REQUIREMENTS</p>
                </div>
                <div class="col-lg-1 col-sm-2 ">
                    <p>QUOTES</p>
                </div>
                <div class="col-lg-1 col-sm-6 my-lg-0 my-2">
                    <img src="images/facebook.svg" alt="facebook">
                </div>
                <div class="col-lg-1 col-sm-2 my-lg-0 my-2">
                    <img src="images/twitter.svg" alt="twitter">
                </div>
                <div class="col-lg-1 col-sm-2 my-lg-0 my-2">
                    <img src="images/youtube.svg" alt="youtube">
                </div>
                <div class="col-lg-1 col-sm-2 my-lg-0 my-2">
                    <img src="images/twitch.svg" alt="Twitch">
                </div>
            </div>
            <div class="row border-b-white pt-3"></div>
            <div class="row pb-5 pt-3 text-white">
                <div class="col">
                    <p>© 2018 Your Games, Inc. All Rights Reserved</p>
                </div>
                <div class="col text-end">
                    <p>Privacy Policy | Terms of Services | Code of Conduct</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>